#id_gender, #id_job_city{
    list-style-type: none;
    display: inline-flex;
}

#id_gender > div{
    padding-left: 10px;
}

#id_job_city > div{
    padding: 10px;
}
body{
    background-color: rgb(247, 189, 142);
}
.forms form, .row  .cd{
    background-color: white;
    
}
.container h1{
    background-color: none;
}
.row div a{
    text-decoration: none;
    color: rgb(82, 35, 2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}
.row{
    margin-left: 140px;
    margin-top: 50px;
}

.row p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}